<div class="card">
    <div class="card-body">

        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi architecto rerum eum delectus. Repudiandae magnam, modi quod dolores id cumque dolorem nesciunt explicabo exercitationem? Labore excepturi esse quod ipsum dignissimos beatae in omnis inventore id delectus sequi, molestias quidem iste.
            
        </p>
    </div>
</div>
